################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceSite.Server/ECommerceSite/ApplicationDbContext.cs
