<div class="tags" [style.justifyContent]="justifyContent">
    @if (tags.length > 0)
    {
        @for (tag of tags; track tag) {
            <a class="tag" href="/tag/{{tag.name}}" routerLink="['/tag', 'tag', tagName]">
                {{tag.name}} ({{tag.count}})
            </a>
        }
    }
</div>
<div class="tags">
    @if (gamePageTags && gamePageTags.length > 0)
    {
        @for (tagName of gamePageTags; track tagName) {
            <a href="/tag/{{tagName}}" routerLink="['/tag', 'tag', tagName]">
                {{tagName}}
            </a>
        }
    }
</div>